.fix-logo{
    width: 30px;
    height: 30px;
}

.icon{
    padding: 10px;

}
.li-icon{
    padding: 10px;
}
/* Mobile View */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .icon{
        display: inline-block;
    }
    .li-icon{
        display: inline-block !important;
    }
}