/*all elements*/
* {
    margin: 6px 6px;
    font-family: Tahoma, Geneva, sans-serif;
}
/**
    Style for first ID
*/
#firstId
{
    background-color: #D8DDB0;
    border-radius: 50%;
    padding: 50px;
    font-weight: 900;
    font-size: 32px;
}

/**
    Makes anu background grey
*/
.grey-background
{
    background-color: #999;
    border: 1px #111 dashed;
}

/**
Latest update for navbar
*/
.lastUpdate{
    background-color: rgb(255, 222, 239) !important;
}

.navbar
{
    background-color: #4EA4E5;
    width: 40%;
    height: 25px;
    /* border-bottom: 3px #111 double; */
    /* border-top: 3px #111 double; */
    /* border-left: 3px #111 double; */
    /* border-right: 3px #111 double; */
    border: 1px #111 dashed;
    border-bottom-style: solid;
    border-radius: 40px;
    border-radius: 40px 10px 40px 0px;
    padding: 5px 40px;
    text-transform: uppercase;
    display: inline;
}

/**
    Change color of <a>
*/
a
{
    color: #5B5658;
    /* color: rgba(91, 86, 88, 0.7); */
    /* color: rgb(91, 86, 88); */
    /* color: hsl(332, 5%, 35%); */
    /* color: hsla(332, 5%, 35%, 0.99); */
    /* text-decoration: none; */
}

/*
    Background Image for body tag
*/
body{
    /* background-image: url(../images/background/bg01.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed; */
    background: url(../images/background/bg01.jpg) no-repeat fixed;
    opacity: 0.3;
}

*{
    opacity: 1 !important;
}

p{
    padding: 10px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2.1;
}
/*
    * #000 (Black)
    * #fff (White)
*/

.firstHeading {
    margin-bottom: 15px;
    text-transform: uppercase;
    text-shadow: 20px 20px 3px #4EA4E5;
    font-size: 40px;
}

.h3{
    margin: 15px auto;
    text-decoration: overline;
}

.image-class{
    margin: 15px auto;
}

.arabic{
    direction: rtl;
    font-family: 'Amiri', serif;
}

.pClass{
    text-transform: capitalize;
    letter-spacing: 5px;
    word-spacing: 10px;
}
.paragraphWrapp{
    background-color: #fff;
}
.fonts{
    font-style: italic;
    font-weight: 600;
}

.ul-style{
    list-style-type: square;
    text-align: left;
    /* list-style-image: url('../images/ul/images.png'); */
    list-style-position: outside;
}

.ol-style{
    text-align: left;
    list-style-type: upper-roman;
}
.ul-div{
    border: 1px #000 double;
}

a:link{
    color: #999999;
}
a:hover{
    background-color: darkgrey;
    color: #fff;
    text-decoration: none;
}
a:visited{
    text-decoration: underline !important;
}
a:active{
    font-size: 20px;
}
.social{
    background-color: #4EA4E5;
    width: 25%;
    height: 25px;
    border: 1px #111 dashed;
    border-bottom-style: solid;
    border-radius: 40px;
    border-radius: 40px 10px 40px 0px;
    padding: 5px 40px;
    text-transform: uppercase;
    display: inline;
    margin-left: 500px;
}
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.main{
    background-color: #ddd;
    padding: 10px;
}
.to-block{
    display: block;
}
.to-inline{
    display: inline;
}

.to-none{
    display: none;
}
.visibility-hidden{
    visibility: hidden;
}

input[type="text"], input[type="email"], input[type="date"], input[type="password"], input[type="time"], input[type="number"], select, textarea{
    width: 100%;
    height: 30px;
    margin: 10px 10px; 
    padding: 15px;
    background-color: darkolivegreen;
    color: #fff;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="date"]:focus, input[type="password"]:focus, input[type="time"]:focus, input[type="number"]:focus, select:focus, textarea:focus{
    background-color: #fff;
    color: #000;
}
input[type="text"]:hover, input[type="email"]:hover, input[type="date"]:hover, input[type="password"]:hover, input[type="time"]:hover, input[type="number"]:hover, select:hover, textarea:hover{
    border: 1px #fff solid;
    cursor: grab;
}
textarea{
    height: auto !important;

}
input[name="username"]:focus{
    height: 60px;
}
button{
    cursor: pointer;
}
input[type='reset']{
    cursor: pointer;
}
.max-width{
    max-width: 550px;
    max-height: 100px;
    /* overflow: visible; */
    overflow-y: auto;
}
.min-width{
    min-width: 70px;
}

.border-span{
    border: 1px #000 double;
}

.float-right{
    float: right;
}

.float-left{
    float: left;
}

.position{
    border: 2px green solid;
}
.relative{
    position: relative;
    top: 50px;
    /* left: 250px; */
    right: 50px;
}
.fixed{
    position: fixed;
    bottom: 50px;
    right: 30px;
    z-index: 100;
}

.absolute{
    position: absolute;
    top: 100px;
    right: 50px;
}
/* .fixed-nav{
    position: fixed;
    top: 10px;
    left: ;
} */
.sticky{
    /* position: -webkit-sticky; */
    position: sticky;
    top: 50px;
    left: 20px;
  
}

.img-relative{
    position: relative;
}
.img-absolute{
    position: absolute;
    top: 10px;
    left: 600px;
}

.paragraphWrapp:first-child{
    background-color: darkviolet;
}
.custom-navbar{
    color: darkviolet;
}
input[name="email"]::before{
    content: 'ahmed reda';
}
/* Mobile View */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .main{
        background-color: red;
    }
}
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .main{
        /* background-color: red; */
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .main{
        /* background-color: red; */
    }
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .main{
        /* background-color: red; */
    }
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .main{
        /* background-color: red; */
    }
  }