<div class="top-cat-row top-cat-layout04">
    <div class="main-heading">
      <h2 class="heading-title text-center"><span>Shop By Category</span></h2>
    </div>
    <div class="block-static">
      <div class="row">
        <div class="col-6 col-md-4 col-lg-2">
          <div class="top-cat-item"><a href="https://behealthystyle.com/piascledine-300.html"><img class="img-fluid" src="{{media url=&quot;wysiwyg/Piascledine.jpg&quot;}}" alt="" width="654" height="500"></a>
            <h3 class="title"><span style="text-decoration: underline;"><span style="color: #000000;"><strong><a href="#" style="color: #000000; text-decoration: underline;">Piascledine 300</a></strong></span></span></h3>
          </div>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
          <div class="top-cat-item"><a href="https://behealthystyle.com/viagra-100mg.html"><img class="img-fluid" src="{{media url=&quot;wysiwyg/Viagra_3.jpg&quot;}}" alt="" width="523" height="485"></a>
            <h3 class="title"><span style="text-decoration: underline; color: #000000;"><strong><a href="#" style="color: #000000; text-decoration: underline;">Viagra 100 mg</a></strong></span></h3>
          </div>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
          <div class="top-cat-item"><a href="https://behealthystyle.com/pantogar-pantovigar-90-caps-anti-hair-loss-alopecia.html"><img class="img-fluid" src="{{media url=&quot;wysiwyg/90.jpg&quot;}}" alt="" width="900" height="900"></a>
            <h3 class="title"><strong><span style="color: #000000;"><span style="text-decoration: underline;"><a href="#" style="color: #000000; text-decoration: underline;">Pantogar</a>&nbsp;</span></span></strong></h3>
          </div>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
          <div class="top-cat-item"><a href="https://behealthystyle.com/zithromax-250-mg-capsules.html"><img class="img-fluid" src="{{media url=&quot;wysiwyg/Zith.jpg&quot;}}" alt="" width="998" height="916"></a>
            <h3 class="title"><span style="text-decoration: underline; background-color: #ffffff; color: #000000;"><strong>Zithromax 250mg</strong></span></h3>
          </div>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
          <div class="top-cat-item"><a href="#"><img class="img-fluid" src="{{media url=&quot;wysiwyg/d20e369e7c16511a4f935b519064ca45caa8b907_1_.jpg&quot;}}" alt="" width="1000" height="944"></a>
            <h3 class="title"><span style="text-decoration: underline; background-color: #ffffff; color: #000000;"><strong><a href="#" style="background-color: #ffffff; color: #000000; text-decoration: underline;">Kenacomb 30g</a></strong></span></h3>
          </div>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
          <div class="top-cat-item"><a href="#"><img class="img-fluid" src="{{media url=&quot;wysiwyg/Duspatalin.jpeg&quot;}}" alt="" width="664" height="578"></a>
            <h3 class="title"><strong><span style="text-decoration: underline;">DUSPATALIN retard 200mg</span></strong></h3>
          </div>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
          <div class="top-cat-item"><a href="https://behealthystyle.com/contractubex-scars-20g.html"><img class="img-fluid" src="{{media url=&quot;wysiwyg/download.jpg&quot;}}" alt="" width="225" height="225"></a>
            <h3 class="title"><strong><span style="text-decoration: underline;"><a href="#">Contractubex 20g</a></span></strong></h3>
          </div>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
          <div class="top-cat-item"><a href="#"><img class="img-fluid" src="{{media url=&quot;wysiwyg/Fucicort.jpg&quot;}}" alt="" width="304" height="152"></a>
            <h3 class="title"><span style="text-decoration: underline; background-color: #ffffff; color: #000000;"><strong><a href="#" style="background-color: #ffffff; color: #000000; text-decoration: underline;">Fucicort 30g</a></strong></span></h3>
          </div>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
          <div class="top-cat-item"><a href="https://behealthystyle.com/male-enhancement.html"><img class="img-fluid" src="{{media url=&quot;wysiwyg/Cilaisss.jpg&quot;}}" alt="" width="800" height="677"></a>
            <h3 class="title"><span style="text-decoration: underline; background-color: #ffffff; color: #000000;"><strong><a href="#" style="background-color: #ffffff; color: #000000; text-decoration: underline;">Cialis 20mg</a></strong></span></h3>
          </div>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
          <div class="top-cat-item"><a href="#"><img class="img-fluid" src="{{media url=&quot;wysiwyg/3eab4589ee0ce56bd9752e9f15265f3ff53e2a48.jpg&quot;}}" alt="" width="1000" height="688"></a>
            <h3 class="title"><span style="text-decoration: underline; background-color: #ffffff; color: #000000;"><strong><a href="#" style="background-color: #ffffff; color: #000000; text-decoration: underline;">Voltaren Tablets 100mg</a></strong></span></h3>
          </div>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
          <div class="top-cat-item"><a href="#"><img class="img-fluid" src="{{media url=&quot;wysiwyg/Faktu.jpg&quot;}}" alt="" width="1000" height="608"></a>
            <h3 class="title"><span style="text-decoration: underline; background-color: #ffffff; color: #000000;"><strong><a href="#" style="background-color: #ffffff; color: #000000; text-decoration: underline;">FAKTU 30g</a></strong></span></h3>
          </div>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
          <div class="top-cat-item"><a href="#"><img class="img-fluid" src="{{media url=&quot;wysiwyg/primperan.png&quot;}}" alt="" width="882" height="590"></a>
            <h3 class="title"><span style="text-decoration: underline; background-color: #ffffff; color: #000000;"><strong><a href="#" style="background-color: #ffffff; color: #000000; text-decoration: underline;">Primperan 10mg</a></strong></span></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="block-wellcome text-center">
    <h2 class="title">Welcome To <span class="maincolor">Be Healthy Style</span> - Medical Products <span class="maincolor">Shopping Store Online</span></h2>
    <div class="text">Medical, &amp; Health Care. Globally Crafted.</div>
</div>
  <div class="block-product-layout04">
    <div class="main-heading">
      <h2 class="heading-title text-center"><span>BEST SELLER PRODUCTS</span></h2>
    </div>
    <div>{{widget type="MageBig\WidgetPlus\Block\Product" product_type="bestseller" period="all_time" category_ids="5" product_style="1" cache_lifetime="86400" limit="12" countdown="0" slider="1" row="1" margin="30" autoplay="5000" navigation="1" paging="0" column="5" x1600="items:6" x1200="items:5" x992="items:4" x768="items:3" x576="items:2,nav:false" x0="items:2,nav:false" template="widget/product01.phtml"}}</div>
  </div>
  <div class="selling-feature">
    <div class="row align-items-center">
      <div class="col-6 col-lg-3">
        <div class="media list-features">
          <div class="media-left align-self-center mr-1 mr-sm-4"><i class="mbi mbi-rocket">&nbsp;</i></div>
          <div class="media-body">
            <div class="media-heading h4">Free Delivery</div>
            <div class="text desc std">For all oders over $99</div>
          </div>
        </div>
      </div>
      <div class="col-6 col-lg-3">
        <div class="media list-features">
          <div class="media-left align-self-center mr-1 mr-sm-4"><i class="mbi mbi-sync2">&nbsp;</i></div>
          <div class="media-body">
            <div class="media-heading h4">90 Days Return</div>
            <div class="text desc std">If goods have problems</div>
          </div>
        </div>
      </div>
      <div class="col-6 col-lg-3">
        <div class="media list-features">
          <div class="media-left align-self-center mr-1 mr-sm-4"><i class="mbi mbi-credit-card2">&nbsp;</i></div>
          <div class="media-body">
            <div class="media-heading h4">Secure Payment</div>
            <div class="text desc std">100% secure payment</div>
          </div>
        </div>
      </div>
      <div class="col-6 col-lg-3">
        <div class="media list-features">
          <div class="media-left align-self-center mr-1 mr-sm-4"><i class="mbi mbi-bubbles">&nbsp;</i></div>
          <div class="media-body">
            <div class="media-heading h4">24/7 Support</div>
            <div class="text desc std">Dedicated support</div>
          </div>
        </div>
      </div>
    </div>
  </div>